    /* 여기부터 네비 */
    nav{
      /* border: 1px solid black; */
      border-top: 1px solid rgb(238, 238, 238);
      height: 35px;
      width: 1040px;
      padding: 5px 0;
      /* margin: 0 100px; */
    }
    .nav-wrap{
      /* border: 1px solid black; */
      width: 980px;
      margin: 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    nav ul{
      display: flex;
      list-style: none;
    }
    /* nav>div>ul>li{
      display: inline-block;
    } */
    .header-dropdown a{
      text-decoration: none;
      padding: 12px 24px;
      color: black;
    }
    .header-dropdown-menu{
      padding: 0 10px;
      line-height: 35px;
      font-size: 16px;
      font-weight: 500;
      min-width: 80px;
      text-align: center;
    }
    .header-dropdown-content{
      display: none;
      position: absolute;
      font-size: 14px;
      padding: 10px 10px;
      min-width: 80px;
      background-color: white;
      /* width: 137px; */
    }
    .header-dropdown-content dt, .header-dropdown-content dd{
      margin-bottom: 10px;
    }
    .header-dropdown-content dt{
      margin-top: 10px;
      font-weight: 700;
    }
    .header-dropdown-content dd{
      font-weight: 400;
    }
    .header-dropdown:hover .header-dropdown-content{
      display: block;
    }
    .search_wrap>input{
      width: 180px;
      height: 24px;
    }

    /* #header-search{
      margin-left: auto;
      margin-right: 10px;
      line-height: 35px;
    } */
